[Unit]
Description=Airflow scheduler daemon
After=network.target postgresql.service
Wants=postgresql.service

[Service]
WorkingDirectory=/home/cjo2mx/airflow/dags/
User=cjo2mx
Group=cjo2mx
Type=simple
ExecStart=/bin/bash -c 'source /home/cjo2mx/airflow/bin/activate ; airflow scheduler'
#ExecReload=/bin/kill -s HUP $MAINPID
#ExecStop=/bin/kill -s TERM $MAAINPID
Restart=on-failure
RestartSec=42s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
