[Unit]
Description=Airflow scheduler daemon
After=newtork.target postgresql.service
Wants=postgresql.service

[Service]
WorkingDirectory=/home/ubuntu/airflow/dags/
User=ubuntu
Group=ubuntu
Type=simple
ExecStart=/bin/bash -c 'source /home/ubuntu/venv/bin/activate ; airflow scheduler'
Restart=on-failure
RestartSec=42s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
